<label for="create-key-wrong" class="control-label">Enter Wrong Flag Data</label>
<input type="text" id="create-key-wrong" class="form-control" name="content" value="{{content}}" placeholder="Enter wrong flag">
<input type="text" id="create-value-wrong" class="form-control" name="data" value="{{data}}" placeholder="Enter wrong point value">
<input type="hidden" name="type" value="wrong">